input,select{
    margin-bottom: 1rem;
}
.btn-primary{
    background-color: purple;
}
body{
background-color: pink;
color: purple;
justify-content: center;
text-align: center;
}
.nav{
    background-color: white;
}
#txtName{
    background-color: purple;
}
.form-control,.form-select{
    background-color: aqua;
}
.nav-item,.nav-link{
    color: purple;
}
.error{
    border: 5px solid red;
}

.my-card{
    width: 200px;
    display: inline-flex;
}